.banner{
	
}
.banner img{
	width: 100%;
}
.contanier{
  width: 76.4%;
	margin: 0 auto;
}
.tag{
	line-height: 0.7rem;
	font-family: SimSun;
	font-size: 0.7rem;
	letter-spacing: 0rem;
	color: #535353;
	margin-top: 1.05rem;
}
.series{
	margin-top: 1.65rem;
	display: flex;
	height: 6.45rem;
	justify-content: space-between;
}
.series>div{
	background-color: #2072f9;
	font-family: MicrosoftYaHei;
	font-size: 1.2rem;
	line-height: 1.2rem;
	letter-spacing: 0rem;
	color: #434343;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #cac9c9;
}
.series>div:nth-child(1){
	width: 29.86%
}
.series>div:nth-child(2){
	width: 21.16%
}
.series>div:nth-child(3){
	width: 23.82%
}
.series>div:nth-child(4){
	width: 22.67%
}
.search{
  display: flex;
	margin-top: 1.45rem;
	align-items: center;
}
.search input{
	width: 17.9rem;
	height: 2.5rem;
	border: 0.05rem solid black;
	margin-left: auto;
}
.search p{
	width: 2.8rem;
	height: 2.7rem;
	background-color: #434343;
	display: flex;
	justify-content: center;
	align-items: center;
}
.goods{
	margin-top: 1.3rem;
	display: flex;
	flex-wrap: wrap;
}
.goods img{
	width: 4.45rem;
	height: 5.9rem;
}
.goods>div{
	width: 33%;
	height: 13.45rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #dcdcdc;
}
.goods>div p:nth-child(2){
	font-size: 0.9rem;
  line-height: 0.9rem;
	letter-spacing: 0rem;
	color: #2072f9;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
.goods>div p:nth-child(3){
	width: 14.3rem;
	font-size: 0.6rem;
  line-height: 1rem;
	letter-spacing: 0rem;
	color: #3e3e3e;
  text-overflow: ellipsis;
  overflow: hidden;
}
.page{
	margin-top: 2.75rem;
	display: flex;
	height: 2.4rem;	
	font-family: MicrosoftYaHei;
	font-size: 0.9rem;
	line-height: 0.9rem;
	letter-spacing: 0rem;
	justify-content: center;
	align-items: center;
	color: #6b6a6a;
	margin-bottom: 15.1rem;
}
.page ul{
	display: flex;
	justify-content: space-between;
}
.page p:nth-child(1){
	margin-right: 1.5rem;
}
.page p:nth-child(3){
	margin-left: 1.5rem;
}
.page ul li{
	height: 2.4rem;
	width: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media only screen and (max-width: 640px) {
  html {
    font-size: 10px !important;
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 10px !important;
  }
}
@media only screen and (min-width: 720px) {
  html {
    font-size: 12px !important;
  }
}
@media only screen and (min-width: 750px) {
  html {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 16px !important;
  }
}
@media only screen and (min-width: 960px) {
  html {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 1024px) {
	.goods>div{
		width: 100%;
		height: 13.45rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid #dcdcdc;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
	.search input{
	  flex: 1;
	}
}